<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #343a40;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Добро пожаловать в магазин!</h1>
        <a href="{{ url_for('get_products') }}" class="btn btn-primary mt-3">Список всех товаров</a>
        <a href="{{ url_for('add_product') }}" class="btn btn-success mt-3">Добавить новый товар</a>
    </div>
</body>
</html>